LOAN APPROVAL PRDICTION PROJECT

1 step:Extract dataset in csv format and load into DataFrame

In [261]:
import pandas as pd
import seaborn as sns
df1=pd.read_csv("C:/Users/pawar/OneDrive/Desktop/loan_approval_dataset.csv")
df=pd.DataFrame(df1)
df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

2 step: Display How Data Looks Like & What is the size of Data

In [262]:
df.shape

(4269, 13)

3 step:What is the data type of columns

In [263]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

4 step:How much missing values missing values

In [264]:
df.isnull().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

5 step:How does the data look mathematically

In [265]:
df.describe()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
count,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4.269000e+03,4.269000e+03
mean,2135.000000,2.498712,5.059124e+06,1.513345e+07,10.900445,599.936051,7.472617e+06,4.973155e+06,1.512631e+07,4.976692e+06
std,1232.498479,1.695910,2.806840e+06,9.043363e+06,5.709187,172.430401,6.503637e+06,4.388966e+06,9.103754e+06,3.250185e+06
min,1.000000,0.000000,2.000000e+05,3.000000e+05,2.000000,300.000000,-1.000000e+05,0.000000e+00,3.000000e+05,0.000000e+00
25%,1068.000000,1.000000,2.700000e+06,7.700000e+06,6.000000,453.000000,2.200000e+06,1.300000e+06,7.500000e+06,2.300000e+06
50%,2135.000000,3.000000,5.100000e+06,1.450000e+07,10.000000,600.000000,5.600000e+06,3.700000e+06,1.460000e+07,4.600000e+06
75%,3202.000000,4.000000,7.500000e+06,2.150000e+07,16.000000,748.000000,1.130000e+07,7.600000e+06,2.170000e+07,7.100000e+06
max,4269.000000,5.000000,9.900000e+06,3.950000e+07,20.000000,900.000000,2.910000e+07,1.940000e+07,3.920000e+07,1.470000e+07

6 step: Are the Duplicate values

In [266]:
df.duplicated().sum()

np.int64(0)

7 step: how is correlation between columns

In [267]:
import matplotlib.pyplot as plt

8 step:drop inused columns

In [268]:
df.drop(columns=['loan_id'],inplace=True)

In [269]:
df.columns

Index([' no_of_dependents', ' education', ' self_employed', ' income_annum',
       ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

9 step:Merge the all Assets_values Columns in one "Assets" columns

In [270]:
df['Assets']=df[' residential_assets_value']+df[' commercial_assets_value']+df[' luxury_assets_value']+df[' bank_asset_value']
df['Assets']

0       50700000
1       17000000
2       57700000
3       52700000
4       55000000
          ...
4264     7400000
4265    20000000
4266    39000000
4267    28800000
4268    77300000
Name: Assets, Length: 4269, dtype: int64

In [271]:
df.drop(columns=[' residential_assets_value',' commercial_assets_value',' luxury_assets_value',' bank_asset_value'])

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,Assets
0,2,Graduate,No,9600000,29900000,12,778,Approved,50700000
1,0,Not Graduate,Yes,4100000,12200000,8,417,Rejected,17000000
2,3,Graduate,No,9100000,29700000,20,506,Rejected,57700000
3,3,Graduate,No,8200000,30700000,8,467,Rejected,52700000
4,5,Not Graduate,Yes,9800000,24200000,20,382,Rejected,55000000
...,...,...,...,...,...,...,...,...,...
4264,5,Graduate,Yes,1000000,2300000,12,317,Rejected,7400000
4265,0,Not Graduate,Yes,3300000,11300000,20,559,Approved,20000000
4266,2,Not Graduate,No,6500000,23900000,18,457,Rejected,39000000
4267,1,Not Graduate,No,4100000,12800000,8,780,Approved,28800000
4268,1,Graduate,No,9200000,29700000,10,607,Approved,77300000

In [272]:
df[' education'].unique()

array([' Graduate', ' Not Graduate'], dtype=object)

In [273]:
def code(st):
  st=st.strip()
  return st

In [274]:
code(' Graduate')

'Graduate'

In [275]:
df[' education']=df[' education'].apply(code)

In [276]:
df[' education']=df[' education'].replace(['Graduate','Not Graduate'],[1,0])

C:\Users\pawar\AppData\Local\Temp\ipykernel_18636\704320584.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[' education']=df[' education'].replace(['Graduate','Not Graduate'],[1,0])

In [277]:
df[' education'].head(20)

0     1
1     0
2     1
3     1
4     0
5     1
6     1
7     1
8     1
9     0
10    1
11    0
12    0
13    1
14    0
15    0
16    1
17    0
18    1
19    1
Name:  education, dtype: int64

In [278]:
df[' self_employed'].unique()

array([' No', ' Yes'], dtype=object)

In [279]:
code(' No')

'No'

In [280]:
df[' self_employed']=df[' self_employed'].apply(code)

In [281]:
df[' self_employed']=df[' self_employed'].replace(['No','Yes'],[0,1])

C:\Users\pawar\AppData\Local\Temp\ipykernel_18636\462578695.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[' self_employed']=df[' self_employed'].replace(['No','Yes'],[0,1])

In [282]:
df[' self_employed']

0       0
1       1
2       0
3       0
4       1
       ..
4264    1
4265    1
4266    0
4267    0
4268    0
Name:  self_employed, Length: 4269, dtype: int64

In [283]:
df[' loan_status'].unique()

array([' Approved', ' Rejected'], dtype=object)

In [284]:
code(' Approved')

'Approved'

In [285]:
df[' loan_status']=df[' loan_status'].apply(code)

In [286]:
df[' loan_status']=df[' loan_status'].replace(['Approved','Rejected'],[1,0])

C:\Users\pawar\AppData\Local\Temp\ipykernel_18636\2110672072.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[' loan_status']=df[' loan_status'].replace(['Approved','Rejected'],[1,0])

In [287]:
df[' loan_status']

0       1
1       0
2       0
3       0
4       0
       ..
4264    0
4265    1
4266    0
4267    1
4268    1
Name:  loan_status, Length: 4269, dtype: int64

In [288]:
df

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status,Assets
0,2,1,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,1,50700000
1,0,0,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,0,17000000
2,3,1,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,57700000
3,3,1,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,52700000
4,5,0,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,0,55000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,5,1,1,1000000,2300000,12,317,2800000,500000,3300000,800000,0,7400000
4265,0,0,1,3300000,11300000,20,559,4200000,2900000,11000000,1900000,1,20000000
4266,2,0,0,6500000,23900000,18,457,1200000,12400000,18100000,7300000,0,39000000
4267,1,0,0,4100000,12800000,8,780,8200000,700000,14100000,5800000,1,28800000
4268,1,1,0,9200000,29700000,10,607,17800000,11800000,35700000,12000000,1,77300000

In [289]:
from sklearn.model_selection import train_test_split
input_data=df.drop(columns=[' loan_status'])
output_data=df[' loan_status']
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.4)

In [290]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)

In [291]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [292]:
model.score(x_test,y_test)

0.905152224824356

In [298]:
pridict_p=pd.DataFrame([['2','1','0',	'9600000'	,'29900000',	'12',	'778',	'2400000'	,'17600000',	'22700000'	,'8000000'		,'50700000']],columns=['no_of_dependents','education','self_employed','income_annum','loan_amount','loan_term','cibil_score','residential_assets_value','commercial_assets_value','luxury_assets_value','bank_asset_value','Assets'])

In [299]:
pridict_p=scaler.fit_transform(pridict_p)

In [300]:
model.predict(pridict_p)

array([1])

In [303]:
import pickle as pk

In [304]:
pk.dump(model,open('model.pkl','wb'))

In [305]:
pk.dump(scaler,open('scaler.pkl','wb'))